nav {
    background-color: mediumorchid;
}

body {
    position: relative;
    background-color: aliceblue;
}

.card-section {
    border: 2px solid crimson;
    border-radius: 20px;
    max-width: 20rem; 
    height: 11rem;
}

.info {
    height: 380px;
}
